html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
    margin-top: 25%;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    
}

.Contact {
    border: 7px solid rgb(253, 58, 90);
    font-size: 70px;
    padding: 20px;
    border-radius: 90px;
    width: fit-content;
}
span {
    color: rgb(253, 58, 90);
}

header h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

@media (max-width: 780px) {
    .Contact {
        font-size: 40px;
    }
}